{% extends "template/app.php.twig" %}

{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="grid">
            {% include 'tpl-parts/items.php.twig' %}

        </div>
    </div>
</div>
{% endblock %}

